body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

#consola{
    /*background:blue;*/
    position: relative;
    display: flex;
    max-width: 80%;
    height: auto;
    margin: auto;
}

#consola > img{
    width: 100%;
    height: auto;
    margin: auto;
}

#pantalla {
    width: 62%; 
    height: 79%;
    background-color: #63A69F; 
    margin: auto;
    border-radius: 1%;
    position:absolute;
    top:51%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-flow: row wrap;
    overflow: hidden;

}

#suelo{
    flex: 1 100%;
    height: 20%;
    background-image: url(img/floor.png);

}

#cielo{
    flex: 1 100%;
    height: 80%;
    background-color: rgb(136, 146, 231);
    display: flex;
    align-items: flex-end;
    position: relative;
    
}


#jugador{
    width: 10%;
    height: 30%; 
    display: flex;
    

}

.mario{
    background-image: url(img/heroes_sprite.png);
    background-repeat: no-repeat;
    background-size: 2150%;
    background-position: 7% 0;
    position: absolute;
}

.enemigo {
    width: 7%;
    height: 15%; 
    background-image: url(img/enemies_sprite.png);
    margin-left: auto;
    background-size: 2150%;
    background-position: 3.5% 0;

}

.tubo{
    width: 12%;
    height: 27%;
    background-image: url(img/tiles.png); 
    left: 50%;
    background-size: 1700%;
    background-position: 0.1% 30.8%;
    position: absolute;
}

.nube{
    width: 12%;
    height: 16%;
    background-image: url(img/tiles.png); 
    left: 60%;
    top: 10%;
    background-size: 1200%;
    background-position: 0.9% 76%;
    position: absolute;
}
